{% include "../../header.template.text.njk" -%}
|/                                                          \|
|                   New stripe order placed                  |
|\                                                          /|
◳------------------------------------------------------------◰

                        Order complete

The  stripe platform  charges  credit cards  directly,  so the
customer should have been charged already.  You can confirm on
the  stripe dashboard,  and  also  check the date  of the next
payout from there too.
 - https://dashboard.stripe.com/payments


| > Order Information (Admin viewable only)
|   - Customer name:
|     > {{order.customer.name}}
|
|   - Customer email address:
|     > {{order.customer.email}}
|
|   - Customer address:
{%- for line in order.customer.shipping.address_lines %}
|     > {{line}}
{%- endfor %}
|     > {{order.customer.shipping.locality}}, {{order.customer.shipping.region}}
|     > {{order.customer.shipping.country}} - {{order.customer.shipping.postal_code}}
|
|   - Amount:
|     > {{order.totalCents | asCAD}}
|
|   - Order Admin Page:
|     > {{process.env.SITE_URL}}/admin/orders/{{order._id}}


-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-

                 Items from the incoming order

{% asyncEach orderItem in order.items %}
  {% include "../../order-item.text.njk" %}
                              ---
{% endeach %}

{%- include "../../footer.template.text.njk" %}
