{% include "../../header.template.text.njk" -%}
|/                                                          \|
|             An order failed payment processing             |
|\                                                          /|
◳------------------------------------------------------------◰

                    Unprocessable order

The  customer's  order has been cancelled,  and they have been
notified.  The stripe platform  charges credit  cards directly,
but  the  customer's  card was  declined.  You  can  see  more
information on the stripe dashboard.
 - https://dashboard.stripe.com/payments

Stripe provided the following message:
|
| {{ order.info }}
|

===============================================================

| > Order Information (Admin viewable only)
|   - Customer name:
|     > {{order.customer.name}}
|
|   - Customer email address:
|     > {{order.customer.email}}
|
|   - Customer address:
{%- for line in order.customer.shipping.address_lines %}
|     > {{line}}
{%- endfor %}
|     > {{order.customer.shipping.locality}}, {{order.customer.shipping.region}}
|     > {{order.customer.shipping.country}} - {{order.customer.shipping.postal_code}}
|
|   - Amount:
|     > {{order.totalCents | asCAD}}
|
|   - Order Admin Page:
|     > {{process.env.SITE_URL}}/admin/orders/{{order._id}}


-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-

                Items from the incoming order

{% asyncEach orderItem in order.items %}
  {% include "../../order-item.text.njk" %}
                              ---
{% endeach %}

{%- include "../../footer.template.text.njk" %}
