-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-

If  anything seems  wrong with the  above,  please forward this
email to: {{process.env.SUPPORT_EMAIL}}

Note:  Do  not  reply  directly to  this  email  as the sending
mailbox is not monitored!


                       Zuzana Riha Art

 .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .

{{message.delivery_reason}}


{% if user and user.subscriber -%}
If at  anytime  you  wish to  stop  receiving  these  messages,
you may do so by visiting this unsubscribe link:

{{process.env.SITE_URL}}/api/v1/unsubscribe/{{user._id}}
{% endif -%}

 .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .

{{message.mailing_address}}
