{{orderItem.quantity}}x {{orderItem.item.title}}
  | Price ${{orderItem.pricing.price}} Each
  | Size: {{orderItem.pricing.size.width}} by {{orderItem.pricing.size.height}} {{orderItem.pricing.size.unit}}
  | Type: {{orderItem.pricing.medium}}
