{% include "../header.template.text.njk" -%}
|/                                                          \|
|             Your payment could not be processed            |
|\                                                          /|
◳------------------------------------------------------------◰

                      What's going on?

Our payment processing service  could not charge you;  this is
usually  due to insufficient funds,  or a limit on the maximum
charge your payment method allows.

In any case, the following message was provided:
|
| {{ order.info }}
|

Learn more by visiting:
{{process.env.SITE_URL}}/cancelled_order

-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-:-

                Items from the failed order:

{% asyncEach orderItem in order.items %}
  {% include "../order-item.text.njk" %}
                              ---
{% endeach %}

{%- include "../footer.template.text.njk" %}
