<mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
  <mj-column width="100%" vertical-align="top">
    <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="13px" padding="10px 25px">
      <p>
        If anything seems wrong with the above, please forward this email to <a href="mailto:{{process.env.SUPPORT_EMAIL}}" style="text-decoration: none; color: inherit;">
          <span style="font-weight: bold;">
            {{process.env.SUPPORT_EMAIL}}
          </span>
        </a>
      </p>
      <br>
      <p>
        <span style="font-size: 12px">
          Note: Do not reply directly to this email as the sending mailbox is not monitored!
        </span>
      </p>
    </mj-text>
  </mj-column>
</mj-section>

<mj-section background-color="#443f3b" padding-bottom="0px" padding-top="0px">
  <mj-column width="33.33333333333333%" vertical-align="top">
    <mj-image href="{{process.env.SITE_URL}}" src="{{process.env.SITE_URL}}/images/manifest/icon-96x96.png" alt="Zuzana Riha Art logo" align="center" border="none" width="40px" padding="10px 25px">
    </mj-image>
  </mj-column>
  <mj-column width="33.33333333333333%" vertical-align="middle">
    <mj-text align="center" color="white" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="15px" padding="10px 25px">
      <span>
        Zuzana Riha Art
      </span>
    </mj-text>
  </mj-column>
  <mj-column width="33.33333333333333%" vertical-align="middle">
    <mj-social padding-top="20px">
      <mj-social-element href="{{message.instagram_permalink}}" background-color="transparent" src="{{process.env.SITE_URL}}/images/IG_Glyph_Fill.png">
      </mj-social-element>
      <mj-social-element href="{{message.facebook_permalink}}" background-color="transparent" src="{{process.env.SITE_URL}}/images/f_logo_RGB-White_144.png">
      </mj-social-element>
    </mj-social>
  </mj-column>
</mj-section>

<mj-section padding-bottom="20px" padding-top="20px">
  <mj-column width="100%" vertical-align="middle">
    <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding="0px 25px">
      <p style="font-size:11px">
        {{message.delivery_reason}}
      </p>
    </mj-text>

    {% if user and user.subscriber %}
    <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding="0px 25px">
      <p style="font-size:11px">
        If at anytime you wish to stop receiving these messages, you may do so by clicking this <a href="{{process.env.SITE_URL}}/api/v1/unsubscribe/{{user._id}}">unsubscribe</a> link.
      </p>
    </mj-text>
    {% endif %}

    <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding="0px 25px">
      <p style="font-size:11px">
        {{message.mailing_address}}
      </p>
    </mj-text>
  </mj-column>
</mj-section>
