<mj-section padding-bottom="20px" padding-top="20px">
  <mj-column width="66.66666666666666%" vertical-align="middle">
    <mj-text align="left" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0px">
      <span style="font-size: 11px">
        {{ message.headline }}
      </span>
    </mj-text>
  </mj-column>
  <mj-column width="33.33333333333333%" vertical-align="middle">
    <mj-text align="right" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0px">
      <span style="font-size: 11px">
        <a href="{{ process.env.SITE_URL }}/uploads/{{ message.permalink }}" style="text-decoration: none; color: inherit;">
          View message in browser
        </a>
      </span>
    </mj-text>
  </mj-column>
</mj-section>

<mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
  <mj-column width="10%" vertical-align="middle"></mj-column>
  <mj-column width="90%" vertical-align="middle">
    <mj-button align="right" color="#000000" background-color="white" border="1px solid black" border-radius="0px" href="{{ process.env.SITE_URL }}" font-family="Julius Sans One, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="20px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0px">
      <span style="font-size: 20px">
        Zuzana Riha
      </span>
    </mj-button>
  </mj-column>
</mj-section>
