<mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
  <mj-column width="50%" vertical-align="top">
    <mj-image src="{{item.preview}}" alt="{{item.name}}" align="center" border="none" width="250px" padding="10px 25px">
    </mj-image>
  </mj-column>
  <mj-column width="50%" vertical-align="top">
    <mj-text align="left" color="#000000" font-family="Thasadith, Helvetica, Arial, sans-serif" font-size="13px" padding="10px 25px">
      <p>
        <span style="font-size: 17px;">
          {{item.count}}x {{item.name}} - ${{item.price}} Each}}
        </span>
        <br>
        <p style="border-left: 1px solid lightgrey; padding-left: 10px;">
          <span>Size: {{item.size.width}} by {{item.size.height}} {{item.size.unit}}</span>
          <br>
          <span>Type: {{item.medium}}</span>
        </p>
      </p>
    </mj-text>
  </mj-column>
</mj-section>
