<mjml>
  <mj-head>
    <mj-title></mj-title>
    <mj-attributes>

    </mj-attributes>
    <mj-font name="Julius Sans One" href="https://fonts.googleapis.com/css?family=Julius+Sans+One" />
    <mj-font name="Thasadith" href="https://fonts.googleapis.com/css?family=Thasadith:700" />
  </mj-head>
  <mj-body background-color="#d6dde5">

      {% include "../../header.template.mjml.njk" %}

      <mj-section background-color="#ffffff" background-url="{{process.env.SITE_URL}}/images/email-bg-sunset.jpg" background-size="cover" padding-bottom="27px" padding-top="0px">
        <mj-column width="100%" vertical-align="top">
          <mj-text align="center" color="white" font-weight="bold" font-family="Julius Sans One, Helvetica, Arial, sans-serif" font-size="27px" padding-left="25px" padding-right="25px" padding-bottom="50px" padding-top="50px">
            <span>
              An order failed payment processing
            </span>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section background-color="#ffffff" padding-top="20px">
        <mj-column width="15%" vertical-align="top"> </mj-column>
        <mj-column width="70%" vertical-align="top">
          <mj-text align="center" color="black" font-weight="bold" font-family="Thasadith, Helvetica, Arial, sans-serif" font-size="20px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0px">
            <span>
              The customer's order has been cancelled, and they have been notified.
            </span>
          </mj-text>

          <mj-text align="justify" color="#000000" font-family="Thasadith, Helvetica, Arial, sans-serif" font-size="16px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0px">
            <p>
              The stripe platform charges credit cards directly, but the customer's card was declined.
              You can see more information on the <a href="https://dashboard.stripe.com/payments">stripe dashboard</a>.
            </p>
            <p>
              Stripe provided the following message:
            </p>

            <p style="border-left: 1px solid black; padding-left: 10px;">
              <br>
              {{ order.info }}
              <br>
              <br>
            </p>
          </mj-text>
        </mj-column>
        <mj-column width="15%" vertical-align="top"> </mj-column>
      </mj-section>

      <!-- Order information -->
      <mj-wrapper background-color="white" padding="10px 30px">
        <mj-section border-top="1px solid #aaaaaa" border-left="1px solid #aaaaaa" border-right="1px solid #aaaaaa" padding="10px 0px" border-bottom="1px dashed lightgray">
          <mj-column width="60%" vertical-align="middle">
            <mj-text font-size="20px">Order Information</mj-text>
          </mj-column>

          <mj-column width="40%" vertical-align="middle">
            <mj-text font-size="15px">(Admin viewable only)</mj-text>
          </mj-column>
        </mj-section>

        <mj-section border-left="1px solid #aaaaaa" border-right="1px solid #aaaaaa" border-bottom="1px dashed lightgray" padding="0px 20px">
          <mj-column width="40%">
            <mj-text padding="20px" font-style="italic">Customer name</mj-text>
          </mj-column>
          <mj-column width="60%">
            <mj-text padding="20px" align="right" font-weight="bold">{{order.customer.name}}</mj-text>
          </mj-column>
        </mj-section>

        <mj-section border-left="1px solid #aaaaaa" border-right="1px solid #aaaaaa" border-bottom="1px dashed lightgray" padding="0px 20px">
          <mj-column width="40%">
            <mj-text padding="20px" font-style="italic">Customer email address</mj-text>
          </mj-column>
          <mj-column width="60%">
            <mj-text padding="20px" align="right" font-weight="bold">{{order.customer.email}}</mj-text>
          </mj-column>
        </mj-section>

        <mj-section border-left="1px solid #aaaaaa" border-right="1px solid #aaaaaa" border-bottom="1px dashed lightgray" padding="0px 20px">
          <mj-column width="100%">
            <mj-text padding="20px 20px 0 20px" font-style="italic">Customer address</mj-text>
            <mj-text padding="0 20px 7px" align="right" font-weight="bold">
              <p>{% for line in order.customer.shipping.address_lines %}
                  {{line}}<br/>
                  {% endfor %}
              </p>
              <p>{{order.customer.shipping.locality}}, {{order.customer.shipping.region}}</p>
              <p>{{order.customer.shipping.country}} - {{order.customer.shipping.postal_code}}</p>
            </mj-text>
          </mj-column>
        </mj-section>

        <mj-section border-left="1px solid #aaaaaa" border-right="1px solid #aaaaaa" border-bottom="1px dashed lightgray" padding="0px 20px">
          <mj-column width="40%">
            <mj-text padding="20px" font-style="italic">Amount</mj-text>
          </mj-column>
          <mj-column width="60%">
            <mj-text padding="20px" align="right" font-weight="bold">{{order.totalCents | price}}</mj-text>
          </mj-column>
        </mj-section>

        <mj-section border-left="1px solid #aaaaaa" border-right="1px solid #aaaaaa" padding="0px 20px 20px" border-bottom="1px solid #aaaaaa">
          <mj-column width="40%">
            <mj-text padding="20px" font-style="italic">Order Admin Page</mj-text>
          </mj-column>
          <mj-column width="60%">
            <mj-text padding="20px" align="right" font-weight="bold">
              <a href="{{process.env.SITE_URL}}/admin/orders/{{order._id}}">
                Go to admin/orders/{{order._id}}
              </a>
            </mj-text>
          </mj-column>
        </mj-section>
      </mj-wrapper>

      {% for orderItem in order.items %}
        {% include "../../order-item.mjml.njk" %}
      {% endfor %}

      {% include "../../footer.template.mjml.njk" %}
    </mj-body>
</mjml>
